<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Back</ion-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edit Procedure' : 'New Procedure' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveProcedure()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select [(ngModel)]="procedure.Type">
      <ion-select-option *ngFor="let type of procedureTypes" [value]="type">{{ type }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime display-format="MM/DD/YYYY" [(ngModel)]="date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Details</ion-label>
    <ion-input type="text" [(ngModel)]="procedure.Details"></ion-input>
  </ion-item>
</ion-content>