<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Настройки</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Тип животно </ion-label>
      </ion-item-divider>
      <ion-reorder-group disabled="false" (ionItemReorder)="handleReorderPatients($any($event))">

        <ion-item-sliding *ngFor="let type of patientTypes; let i = index">
          <ion-item>
            <ion-label> {{ type.value }} </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deletePatientType(i)">
              <ion-icon slot="start" name="trash"></ion-icon>
              Изтрий
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
      <ion-item *ngIf="newPatient">
        <ion-input [(ngModel)]="newPatient.value" fill="outline"></ion-input>
        <ion-button color="danger" (click)="cancelAddPatientType()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button color="success" (click)="pushNewPatientType()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-button fill="clear" expand="full" (click)="openNewPatient()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Тип процедура </ion-label>
      </ion-item-divider>
      <ion-reorder-group disabled="false" (ionItemReorder)="handleReorderProcedures($any($event))">
        <ion-item-sliding *ngFor="let type of procedureTypes; let i = index">
          <ion-item>
            <ion-label> {{ type.value }} </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteProcedureType(i)">
              <ion-icon slot="start" name="trash"></ion-icon>
              Изтрий
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
      <ion-item *ngIf="newProcedure">
        <ion-input [(ngModel)]="newProcedure.value" fill="outline"></ion-input>
        <ion-button color="danger" (click)="cancelAddProcedureType()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button color="success" (click)="pushNewProcedureType()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-button fill="clear" expand="full" (click)="openNewProcedure()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item-group>
  </ion-list>
  <ion-item>
    <!-- Spacer -->
  </ion-item>
  <ion-list>
    <ion-list-header>
      <ion-title>Потребител</ion-title>
    </ion-list-header>
    <ion-button color="danger" expand="block" (click)="logout()">Излез</ion-button>
  </ion-list>
</ion-content>