<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Настройки</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Тип животно </ion-label>
      </ion-item-divider>
      <ion-reorder-group disabled="false" (ionItemReorder)="handleReorderPatients($any($event))">

        <ion-item-sliding *ngFor="let type of patientTypes; let i = index">
          <ion-item>
            <ion-label> {{ type }} </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deletePatientType(i)">
              <ion-icon slot="start" name="trash"></ion-icon>
              Изтрий
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
      <ion-item *ngIf="addingNewPatient">
        <ion-input [(ngModel)]="newPatient" fill="outline"></ion-input>
        <ion-button color="danger" (click)="cancelAddPatient()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button color="success" (click)="pushNewPatient()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-button fill="clear" expand="full" (click)="addingNewPatient = true">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Тип процедура </ion-label>
      </ion-item-divider>
      <ion-reorder-group disabled="false" (ionItemReorder)="handleReorderProcedures($any($event))">
        <ion-item *ngFor="let type of procedureTypes">
          <ion-label> {{ type }} </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
      <ion-item *ngIf="addingNewProcedure">
        <ion-input [(ngModel)]="newProcedure" fill="outline"></ion-input>
        <ion-button color="danger" (click)="cancelAddProcedure()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button color="success" (click)="pushNewProcedure()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-button fill="clear" expand="full" (click)="addingNewProcedure = true">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item-group>
  </ion-list>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Потребител</ion-title>
      <ion-buttons>
        <ion-button color="danger" (click)="logout()">Излез</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>