<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="!newMode">Редактирай Пациент</ion-title>
      <ion-title *ngIf="newMode">Нов Пациент</ion-title>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="cancel()">Отказ</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Тип</ion-label>
      <ion-select [(ngModel)]="patient!.type" interface="popover">
        <ion-select-option *ngFor="let type of types" [value]="type">{{ type }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Име</ion-label>
      <ion-input [(ngModel)]="patient!.name" placeholder="Име"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Пол</ion-label>
      <ion-select [(ngModel)]="patient!.gender" interface="popover">
        <ion-select-option value="unknown">Неопределен</ion-select-option>
        <ion-select-option value="male">Мъжки</ion-select-option>
        <ion-select-option value="female">Женски</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Тегло (кг)</ion-label>
      <ion-input [(ngModel)]="patient.weight" type="number" inputmode="numeric" placeholder="0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-toggle position="stacked" [(ngModel)]="patient.castrated">Кастриранo</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Дата на раждане</ion-label>
      <datepicker [(value)]="patient.birthDate"></datepicker>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Име на собственик</ion-label>
      <ion-input [(ngModel)]="patient.owner" placeholder="Име"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Телефон на собственик</ion-label>
      <ion-input [(ngModel)]="patient.ownerPhone" placeholder="0812345679"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Чип</ion-label>
      <ion-input [(ngModel)]="patient.chipId" placeholder="100..."></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="save()">Запиши</ion-button>
</ion-content>
