<ion-button *ngIf="!disabled" (click)="openDatePickerPopover()">
  {{ isValidDate(value) ? (value | date: 'dd.MM.YYYY') : 'задай дата' }}
</ion-button>

<ion-label *ngIf="disabled">
  {{ isValidDate(value) ? (value | date: 'dd.MM.YYYY') : 'няма зададена дата' }}
</ion-label>

<ion-popover [isOpen]="isPopoverOpen" (didDismiss)="onPopoverDismiss()" cssClass="custom-popover">
  <ng-template>
    <ion-content>
      <ion-datetime displayFormat="dd.MM.YYYY" [(ngModel)]="selectedDate" (ionChange)="onDateChange($event)" presentation="date"></ion-datetime>
      <ion-button expand="full" (click)="confirmDate()">Потвърди</ion-button>
    </ion-content>
  </ng-template>
</ion-popover>