<ion-content>
  <ion-searchbar #searchbar name="search" (ionInput)="onSearch($event)"></ion-searchbar>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" (click)="newPatient()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row *ngFor="let p of filteredPatients" button (click)="goToPatient(p.Id)" class="patient-row">
      <ion-col size="2">
        <ion-label class="wrap-text">{{ p.Type }}</ion-label>
      </ion-col>
      <ion-col>
        <fa-icon [icon]="minus" class="ion-margin-end"></fa-icon>
        <ion-label [innerHTML]="highlight(p, 'Name')"></ion-label>
      </ion-col>
      <ion-col>
        <fa-icon [icon]="user" class="ion-margin-end"></fa-icon>
        <ion-label [innerHTML]="highlight(p, 'Owner')"></ion-label>
      </ion-col>
      <ng-container *ngIf="highlight(p, 'IdNumber', false) as content">
        <ion-col>
          <fa-icon [icon]="microchip" class="ion-margin-end"></fa-icon>
          <ion-label [innerHTML]="content"></ion-label>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>