<ion-content>
  <ion-searchbar #searchbar name="search" (ionInput)="onSearch($event)"></ion-searchbar>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="newPatient()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row *ngFor="let p of filteredPatients" button (click)="goToPatient(p.id)" class="patient-row">
      <ion-col size="2">
        <ion-label class="wrap-text">{{ p.type }}</ion-label>
      </ion-col>
      <ion-col>
        <fa-icon [icon]="minus" class="ion-margin-end"></fa-icon>
        <ion-label [innerHTML]="highlight(p, 'name')"></ion-label>
      </ion-col>
      <ion-col>
        <fa-icon [icon]="user" class="ion-margin-end"></fa-icon>
        <ion-label [innerHTML]="highlight(p, 'owner')"></ion-label>
      </ion-col>
      <ion-col *ngIf="highlight(p, 'chipId', false) as content">
        <fa-icon [icon]="microchip" class="ion-margin-end"></fa-icon>
        <ion-label [innerHTML]="content"></ion-label>
      </ion-col>
      <ion-col *ngIf="highlight(p, 'phone', false) as content">
        <fa-icon [icon]="phone" class="ion-margin-end"></fa-icon>
        <ion-label [innerHTML]="content"></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>