.bold-blue {
  font-weight: bold;
  color: var(--ion-color-secondary);
}

.patient-row {
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid var(--ion-color-light-tint);
  transition: background-color 0.3s;
  background-color: var(--ion-item-background);
}

.patient-row:hover {
  background-color: var(--ion-color-light-tint);
}

.patient-row ion-col {
  display: flex;
  align-items: center;
}

.patient-row ion-label {
  font-size: 16px;
  color: var(--ion-color-dark);
}

/* .patient-row fa-icon { */
/* color: var(--ion-color-primary); */
/* } */